.m-breadcrumb{

	margin: -10px 0 50px;

	a{
		color: #3f3f3f;
		font-size: 13px;

		&:last-child,
		&:hover{
			color: $colorBlue;
		}
	}

	span{
		font-size: 12px;
		position: relative;
		bottom: 0px;
		padding: 0 2px;
	}


}
