body,html{
	padding: 0;
	margin: 0;
}

body{
	overflow-x: hidden;

	background-color: #F4F4F4;
	background-color: $colorBlue;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}



.l-common__wrapper{


	//MAX:
	max-width: $siteWidth;


	//RESPONSIVE:
	//max-width: 970px;

	position: relative;
	//z-index: 1000;

	//outline: 2px solid red;
	margin: 0 auto 0px;
	padding-bottom: 20px;

	@media screen and (max-width: $siteWidth - 1 ) {
		padding-left: 15px;
		padding-right: 15px;
	}

}




.l-common__site-content{
	transition: transform 300ms cubic-bezier(0.395, 0.425, 0.015, 1); // easeOutCirc
	z-index: 2;
	position: relative;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);

	background: url(../images/bg-top-gradient-grainy.jpg) repeat-x top center,
				url(../images/bg-bottom-collider.jpg) no-repeat bottom 250px center;
	background-color: #f4f4f4;
	overflow-x: hidden;

	@media (max-width: 767px){
		background-image: none;
	}

	&.is-pushed{
		transform: translate(-320px,0);
	}
}


// h1,h2,h3,h4,h5,h6{
// 	margin: 0;
// 	padding: 0;
// 	font-weight: normal;
// }


a{
	color: $colorBlue;

	&:hover{
		color: $colorGray;
	}
}


::-moz-focus-inner {
  border: 0;
}
select:-moz-focusring,
input:-moz-focusring{
    color: transparent;
    text-shadow: 0 0 0 #000;
}


