

$siteWidth : 1170px;


// Fonts
$fontDefault: Arial, Helvetica, sans-serif;


$fontPtSansRegular:  ptSansRegular,  	Helvetica, sans-serif;
$fontPtSansBold:	 ptSansBold, 	 	Helvetica, sans-serif;

$fontPtSerifRegular: ptSerifRegular,	"Times New Roman", serif;
$fontPtSerifBold:	 ptSerifBold,		"Times New Roman", serif;

// Colors
$colorBlue: #0085CE;
$colorBlueDarker: #00539F;
$colorGray: #3F3F3F;
$colorGrayLight: #6D6D6D;


// $color_H1: $colorBlue;
// $color_H2: $colorBlue;
// $color_p: $colorGray;

